
body{
	background:black;
	color:white;
	font-family:Josefin Sans;

}

h1{
	
	text-shadow:7px 3px 7px red;
}
h2{

	text-shadow:7px 3px 7px yellow;
}
h3{

	text-shadow:7px 3px 7px lightgreen;
}


.row{
	display:flex;
	align-items:center;
	background:rgb(204, 0, 0 );
	top:0;
}
.logo{
	marign-right:80px;
}
.logo img{
	width:100px;
	height:100px;
}
.link{
	font-size:20px;
	text-decoration:none;
	color:black;
	margin-left:20px;
	padding:20px 70px;			
		}		
.link:hover{
	color:rgb(204, 0, 0 );
	background:black;			
}
.row{
	position:fixed
}

	
	
img{
	height:300;
	width:100%;
}
.col0{
    float:left;
    width:40%;
    margin-left:80px;
    margin-left:40px
}
.col1{
	float:left;
    width:30%;
    margin-left:30px;       
}
.col2{
	float:left;
    width:24%;
    margin-left:10px;
}
.col3{
	float:left;
    width:30%;
    margin-left:30px;  
}       
.col4{
    float:left;
    width:45%;
    margin-left:30px;     
}
.col5{
	margin-left:30px;
	margin-right:30px;
}

#a{
	margin-left:40px
}
#b{
	margin-right:40px;
	border-radius:50%
}
#c{
	height:400px;
}
